@tailwind base;
@tailwind components;
@tailwind utilities;

#__next, body, html, main {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body{
    -webkit-font-smoothing: antialiased;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    
}
.ico-size-14 {
    font-size: 14px;
  }
  .ico-size-16 {
    font-size: 16px;
  }
  .ico-size-20 {
    font-size: 20px;
  }
  .ico-size-24 {
    font-size: 24px;
  }
  .ico-size-28 {
    font-size: 28px;
  }
  .ico-size-32 {
    font-size: 32px;
  }
  .ico-size-56 {
    font-size: 56px;
  }
.main-grid{
    display: grid;
    grid-template-columns: repeat(6,14vw);
    grid-template-rows: repeat(7,7vw);
    grid-auto-flow: row;
}
@font-face {
    font-family: 'Sansation Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Regular'), url('../../public/fonts/Sansation-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation'), url('../../public/fonts/Sansation_Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Italic'), url('../../public/fonts/Sansation-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation Light';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Light'), url('../../public/fonts/Sansation_Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Bold Italic'), url('../../public/fonts/Sansation-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Bold'), url('../../public/fonts/Sansation-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Bold'), url('../../public/fonts/Sansation_Bold.woff') format('woff');
    }
