@tailwind base;
@tailwind components;
@tailwind utilities;

#__next, body, html, main {
    display: flex;
    flex-direction: column;
    height: 100%;
}


@font-face {
    font-family: 'Sansation Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Regular'), url('Sansation-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation'), url('Sansation_Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Italic'), url('Sansation-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation Light';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Light'), url('Sansation_Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Bold Italic'), url('Sansation-BoldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Bold'), url('Sansation-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Sansation Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Sansation Bold'), url('Sansation_Bold.woff') format('woff');
    }
